.deps/
.libs/
COPYING
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.log
config.status
config.sub
configure
*.lo
*.o
cylon.pc
depcomp
install-sh
libcylon.la
libtool
ltmain.sh
missing
config.h
stamp-h1
